{% extends "generic/object.html" %}
{% load render_table from django_tables2 %}
{% load plugins %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">附件</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">名称</th>
              <td>{{ object }}</td>
            </tr>
            <tr>
              <th scope="row">描述</th>
              <td>{{ object.description }}</td>
            </tr>
            <tr>
              <th scope="row">文件名</th>
              <td>
                <a href="{{ object.file.url }}" target="_blank">{{ object.filename }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">大小</th>
              <td>{{ object.size|filesizeformat }}</td>
            </tr>
            <tr>
              <th scope="row">关联对象</th>
              <td>{{ object.parent|linkify }}</td>
            </tr>
            <tr>
              <th scope="row">创建时间</th>
              <td>{{ object.created |date:"Y-m-d H:i"}}</td>
            </tr>
            <tr>
              <th scope="row">最后修改时间</th>
              <td>{{ object.last_updated |date:"Y-m-d H:i"}}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include "inc/panels/custom_fields.html" %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include "inc/panels/tags.html" %}
      {% include "inc/panels/comments.html" %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">{% plugin_full_width_page object %}</div>
  </div>
{% endblock content %}
